/* p {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */

/* just a slide in animatetion  */
.portfolio {
  border-top: 26px;
  position: center
  max-width: 25rem;
  margin-bottom: 15px;
}
